<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Comida de Ana - Café Dalgona</title>
        <link rel="stylesheet" type="text/css" href="./mystyle.css">
        <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet"> 
    </head>
    <body>
         <header>
            <img class="logo" src="51d16cad-7260-45b2-b489-95061e259350_200x200.png" alt="Logo">
        </header>

        <div class="barra">
            <nav>
                <ul id="u01">
                    <li><a href="Comida de Ana.html">HOME</a></li>  
                    <li class="dropdown1"><a href="#comidas" class="dropbtn">RECETAS</a>
                        <div class="dropdown1-content">
                            <a href="#">Comidas</a>
                            <a href="#">Postres</a>
                            <a href="#">Bebidas</a>
                            <a href="#">Saludable</a>
                        </div>
                    </li>
                    <li class="dropdown1"><a href="#postres">CURIOSIDADES</a>
                        <div class="dropdown1-content">
                            <a href="#">Mejora tus comidas</a>
                            <a href="#">Postres</a>
                            <a href="#">Trucos </a> 
                            <a href="#">Artículos Interesantes</a> 
                        </div>
                    
                    </li>
                   <li><a href="#favoritos">FAVORITOS</a></li>
                </ul>
                <input type="text" name="search">
            </nav>
        </div>
        <section class="content">
            <div class="column3">
                <h1>Café Dalgona</h2>
                    <img src="como-hacer-cafe-dalgona.jpg" alt="Café Dalgona">  
                    <br><br>
                    <div class="info">
                        <p>
                            ¿Has oído hablar del café dalgona? También conocido como 'whipped coffee' o 'fluffy coffee', 
                            es la última receta viral que está arrasando en redes sociales como Instagram o TikTok.
                            <br><br>
                            Este tipo de café tiene su origen en Corea del Sur, donde su nombre fue acuñado por el actor 
                            surcoreano Jung Il-Woo al afirmar el pasado mes de enero en un programa de la televisión coreana 
                            (Stars' Top Recipe) que su sabor le recordaba al caramelo dalgona, un dulce tradicional del país 
                            coreano.
                            <br><br>
                            El éxito de esta bebida, que promete ser la bebida del verano, ya se puede tomar tanto fría como 
                            caliente, reside en su fácil preparación (solo necesita cuatro ingredientes y está lista en cinco 
                            minutos) y su sabroso aspecto (está compuesto de una capa muy espumosa y otra líquida). De ahí que 
                            Instagram se haya llenado en las últimas semanas de apetitosas fotografías y vídeos de este café.
                        </p>
                    </div>
                    <br><br><br>

                    <div class="ingredientes">
                        <h3>INGREDIENTES (1-2 tazas):</h3> 
                        <ul>
                            <li>Dos cucharadas de café soluble o instantáneo.</li>
                            <li>Dos cucharadas de azúcar.</li>
                            <li>Leche.</li>
                            <li>Agua Caliente.</li>
                        </ul>
                    </div>

                    <div class="procedimiento">
                        <h3>PREPARACIÓN:</h3>
                        
                        <ol class="procedimiento">
                            <li>En un recipiente, introduce el café soluble, el azúcar y el agua caliente.</li>
                            <li>Batir la mezcla hasta que quede espesa y esponjosa.</li>
                            <li>
                                Llena de leche (caliente o fría) hasta alcanzar los tres cuartos de una taza o 
                                un vaso en el que servirá después esta mezcla.
                            </li>
                            <li>Añadir la crema de café y mezclar antes de tomarlo.</li>
                            <li>Añade hielos si deseas tomar el café dalgona muy frío.</li>
                        </ol>
                        
                    </div>
                    
                    <br><br><br>
                    <br>
            </div> 

            <div class="column4">
                <h2 class="textc2">Otras Recetas que pueden interesarte:</h2>
                <img src="#" alt="#">  
                <br>
                <p>
                    
                </p> 
                <br><br>        
            </div>
        </section>
    </body>
</html>