<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Comida de Ana</title>
        <link rel="stylesheet" type="text/css" href="./mystyle.css">
        <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet"> 
    </head>
    <body>
         <header>
            <img class="logo" src="51d16cad-7260-45b2-b489-95061e259350_200x200.png" alt="Logo">
        </header>

        <div class="barra">
            <nav>
                <ul id="u01">
                    <li><a href="Comida de Ana.html">HOME</a></li>  
                    <li class="dropdown1"><a href="#comidas" class="dropbtn">RECETAS</a>
                        <div class="dropdown1-content">
                            <a href="#">Comidas</a>
                            <a href="#">Postres</a>
                            <a href="#">Bebidas</a>
                            <a href="#">Saludable</a>
                        </div>
                    </li>
                    <li class="dropdown1"><a href="#postres">CURIOSIDADES</a>
                        <div class="dropdown1-content">
                            <a href="#">Mejora tus comidas</a>
                            <a href="#">Postres</a>
                            <a href="#">Trucos </a> 
                            <a href="#">Artículos Interesantes</a> 
                        </div>
                    
                    </li>
                   <li><a href="#favoritos">FAVORITOS</a></li>
                </ul>
                <input type="text" name="search">
            </nav>
        </div>

        <section class="content">
            <div class="column1">
                <h1>Pie de Limón</h1>
                    <p>Aprende a preparar Pie de Limón con esta rica y fácil receta. El Pie de limón es una de las recetas mas demandadas en las reuniones.
                        Normalmente, por comodidad, acostumbramos a encargarlo en la pastelería más cercana, pero ¿Por qué no preparar tu propio Pie de Limón? 
                        Como resultado tendrás una receta con un sabor único basado en tus gustos personales. 
                    </p>
                    <img src="RFB-2502-3-piedelimonconlicor.jpg" alt="Pie de Limón">  
                    <br> 
                    <button class="button1" onclick="document.location = 'Pie de Limón.html'">Leer más</button>
                    <br><br><br>
                    <hr>
                    <br>

                    <h1>Café Dalgona</h1>
                    <p>Aprende a hacer el café del momento, esta receta que llegó a nosotros gracias a la red social TikTok y y que ahora es lo más TOP. 
                    Es fácil, delicioso y parece hecho en una cafetería. Te vamos a enseñar 3 formas distintas de hacer este famoso café, para todos los gustos.
                    </p>
                    <img src="como-hacer-cafe-dalgona.jpg" alt="Café Dalgona">
                    <br>
                    <button class="button1" onclick="document.location = 'Café Dalgona.html'">Leer más</button>
                    <br><br><br>
                    <hr>
                    <br>

                    <h1>Pasticho de Carne</h1>
                    <p>El pasticho es la versión venezolana de la lasaña, es muy parecido pero tiene su propia receta. No hay una receta en especifico para el 
                    pasticho, este puede ser adaptado a cualquier gusto. Sin embargo, aquí te enseñamos a hacer la receta favorita de Ana.    
                    </p>
                    <img src="pasticho-de-carne-750x466.jpg" alt="Pasticho de Carne">
                    <br>
                    <button class="button1" onclick="document.location = 'Pasticho de Carne.html'">Leer más</button>
                    <br><br><br>
                    <hr>
                    <br>

                    <h1>Panquecas de Avena Fitness</h1>
                    <p>Ser saludables no te impide comer rico. Esta receta de Panquecas de Avena es perfecta para cuando quieres tener un desayuno rico sin tener 
                    que pecar. Un plato delicioso y saludable.     
                    </p>
                    <img src="tortitas-avena-iStock-.jpg" alt="Panquecas de Avena">
                    <br>
                    <button class="button1" onclick="document.location = 'Panquecas de Avena.html'">Leer más</button>
                    <br><br>
            </div>
            
            <div class="column2">
                <h2>ALGUNOS HACKS</h2>
                <img src="hacks-07.png" alt="Recipientes de aderezos">  
                <br>
                <p>
                    Los recipientes de aderezos como kétchup o mostaza pueden tener otro uso útil. Cuando estén vacíos, puedes usarlos para colocar la mezcla 
                    de panqueques y facilitar la tarea de prepararlos cuando viertes la mezcla en la sartén.
                </p> 
                <br><br>
                <img src="hacks-11.png" alt="Aguacate">   
                <br>
                <p>
                    Para cortar el aguacate en cubos cuando quieras preparar guacamole, la mejor alternativa es usar un pisa papas.
                </p>     
                <br><br>
                <img src="hacks-35.png" alt="Migas de pan">
                <br>
                <p>
                    Utilizando un procesador de comidas, puedes obtener tus propias migas de pan libres de gluten, licuando cereales de arroz integral. 
                </p>
                <br><br>
                <img src="hacks-36.png" alt="Chocolate Caliente">
                <br>
                <p>
                    Para preparar una taza de chocolate caliente extremadamente deliciosa, agrega trufas a una taza llena de leche caliente. 
                </p>
                <br>

                <a class="link1" href="#">Más Life Hacks</a>

            </div>
        </section>
    </body>
</html>