<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Comida de Ana - Panquecas de Avena Fitness</title>
        <link rel="stylesheet" type="text/css" href="./mystyle.css">
        <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet"> 
    </head>
    <body>
         <header>
            <img class="logo" src="51d16cad-7260-45b2-b489-95061e259350_200x200.png" alt="Logo">
        </header>

        <div class="barra">
            <nav>
                <ul id="u01">
                    <li><a href="Comida de Ana.html">HOME</a></li>  
                    <li class="dropdown1"><a href="#comidas" class="dropbtn">RECETAS</a>
                        <div class="dropdown1-content">
                            <a href="#">Comidas</a>
                            <a href="#">Postres</a>
                            <a href="#">Bebidas</a>
                            <a href="#">Saludable</a>
                        </div>
                    </li>
                    <li class="dropdown1"><a href="#postres">CURIOSIDADES</a>
                        <div class="dropdown1-content">
                            <a href="#">Mejora tus comidas</a>
                            <a href="#">Postres</a>
                            <a href="#">Trucos </a> 
                            <a href="#">Artículos Interesantes</a> 
                        </div>
                    
                    </li>
                   <li><a href="#favoritos">FAVORITOS</a></li>
                </ul>
                <input type="text" name="search">
            </nav>
        </div>
        <section class="content">
            <div class="column3">
                <h1>Panquecas de Avena Fitness</h2>
                    <img src="tortitas-avena-iStock-.jpg" alt="Panquecas de Avena">  
                    <br><br>

                    <div class="info">
                        <p>
                            100 gramos de panquecas de avena y banana contienen alrededor de 
                            180 calorías. Este es un desayuno perfecto para deportistas porque 
                            contiene proteínas y carbohidratos, nutrientes esenciales para aportar 
                            energía al cuerpo, favorecer la quema de grasa e incrementar la masa 
                            muscular. Así mismo, estos pancakes de avena y banana también son aptos 
                            para dietas de adelgazamiento por el mismo motivo. Eso sí, para perder 
                            peso recomendamos no agregar miel, puesto que, a pesar de ser un tipo 
                            de azúcar natural, es azúcar añadido y no es compatible con esta dieta.
                        </p>
                    </div>
                    <br><br><br>

                    <div class="ingredientes">
                        <h3>INGREDIENTES (5 unidades aprox):</h3> 
                        <ul>
                            <li>5 cucharadas soperas de avena molida o harina de avena.</li>
                            <li>1 banana o plátano.</li>
                            <li>50 mililitros de leche de vaca o vegetal.</li>
                            <li>1 huevo.</li>
                            <li>1 cucharadita de canela.</li>
                            <li>1 chorro de miel (al gusto).</li>
                            <li>1 chorro de aceite.</li>
                        </ul>
                    </div>

                    <div class="procedimiento">
                        <h3>PREPARACIÓN:</h3>
                        
                        <ol class="procedimiento">
                            <li>
                                Mezcla la banana troceada con el huevo hasta obtener un puré suave. 
                                No es necesario triturar por completo la fruta, ya que si las panquecas 
                                de avena y banana quedan con pedazos estarán más buenas.
                            </li>
                            <p class="tip">Truco: Para ir más rápido, puedes mezclar todos los ingredientes en la licuadora.</p>
                            <li>
                                Añade el resto de ingredientes, es decir, la avena molida, la leche, la 
                                canela y la miel y mezcla hasta conseguir una masa homogénea. Puedes hacer 
                                tu propia harina de avena con esta sencilla receta. Así mismo, para potenciar 
                                el sabor de los panqueques de avena y banana, te aconsejamos usar leche de 
                                avena.
                            </li>
                            <br>
                            <li>
                                Con la masa ya lista, prepara una sartén con un poco de aceite y cocina a 
                                fuego medio-bajo los pancakes de uno en uno. Para ello, vierte pequeñas 
                                porciones de masa.
                            </li>
                            <br>
                            <li>
                                Cuando empiezan a salir burbujas por la parte de arriba del panqueque, es el 
                                momento de darle la vuelta. Mantén la sartén con la llama en el mínimo para 
                                que no se quemen y se cocinen correctamente. Repite la operación hasta terminar 
                                con toda la masa.
                            </li>
                        </ol>
                        
                    </div>
                    
                    <br><br><br>
                    <br>
            </div> 

            <div class="column4">
                <h2 class="textc2">Otras Recetas que pueden interesarte:</h2>
                <img src="#" alt="#">  
                <br>
                <p>
                    
                </p> 
                <br><br>        
            </div>
        </section>
    </body>
</html>