<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Comida de Ana - Pasticho de Carne</title>
        <link rel="stylesheet" type="text/css" href="./mystyle.css">
        <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet"> 
    </head>
    <body>
         <header>
            <img class="logo" src="51d16cad-7260-45b2-b489-95061e259350_200x200.png" alt="Logo">
        </header>

        <div class="barra">
            <nav>
                <ul id="u01">
                    <li><a href="Comida de Ana.html">HOME</a></li>  
                    <li class="dropdown1"><a href="#comidas" class="dropbtn">RECETAS</a>
                        <div class="dropdown1-content">
                            <a href="#">Comidas</a>
                            <a href="#">Postres</a>
                            <a href="#">Bebidas</a>
                            <a href="#">Saludable</a>
                        </div>
                    </li>
                    <li class="dropdown1"><a href="#postres">CURIOSIDADES</a>
                        <div class="dropdown1-content">
                            <a href="#">Mejora tus comidas</a>
                            <a href="#">Postres</a>
                            <a href="#">Trucos </a> 
                            <a href="#">Artículos Interesantes</a> 
                        </div>
                    
                    </li>
                   <li><a href="#favoritos">FAVORITOS</a></li>
                </ul>
                <input type="text" name="search">
            </nav>
        </div>
        <section class="content">
            <div class="column3">
                <h1>Pasticho de Carne</h2>
                    <img src="pasticho-de-carne-750x466.jpg" alt="Pasticho de Carne">  
                    <br><br><br>

                    <div class="ingredientes">
                        <h3>INGREDIENTES (4 personas):</h3> 
                        <h4>Para el Pasticho de Carne</h4>
                        <ul>
                            <li>Pasta para lasaña – 1 caja o 18 láminas.</li>
                            <li>Carne picada mixta – 400 g.</li>
                            <li>Jamón cocido – 150 g.</li>
                            <li>Cebolla –1 unidad.</li>
                            <li>Dientes de ajos -  2 unidades.</li>
                            <li>Pimiento verde – 1 unidad.</li>
                            <li>Aceite de oliva virgen – 2 cucharadas.</li>
                            <li>Laurel – 1 hoja.</li>
                            <li>Vino tinto – 125 ml.</li>
                            <li>Tomate frito – 200 g.</li>
                            <li>Orégano – ½ cucharadita.</li>
                            <li>Queso en polvo – 60 g * opcional.</li>
                        </ul>
                        <h4>Para la Salsa Bechamel</h4>
                        <ul>
                            <li>Harina -60 g.</li>
                            <li>Mantequilla -60 g.</li>
                            <li>Leche- 400 ml.</li>
                            <li>Nuez moscada -  una pizca.</li>
                            <li>Pimienta – al gusto.</li>
                            <li>Sal -  al gusto.</li>
                        </ul>
                    </div>

                    <div class="procedimiento">
                        <h3>PREPARACIÓN:</h3>
                        
                        <ol class="procedimiento">
                            <li>
                                Las placas de lasaña o pasticho las escogemos precocidas 
                                de esta forma es más fácil de preparar. Solo ponemos agua caliente 
                                en un recipiente y las dejamos a remojo durante 7 minutos.
                            </li>
                            <br>
                            <li>Pelar y picar los ajos y la cebolla, picar el pimiento verde. Añadir 
                                aceite de oliva a una sartén y cuando esté caliente sofreír la cebolla 
                                y los ajos durante dos minutos, a continuación agregar el pimiento verde 
                                y cocinar tres minutos.
                            </li>
                            <br>
                            <li>
                                Seguidamente incorpora la carne picada y el laurel, baja el fuego tapa 
                                el recipiente para que no salpique y deja que se cocine dos o tres minutos 
                                la carne.
                            </li>
                            <br>
                            <li>
                                A continuación añadir el vino, el orégano, un poco de sal y pimienta. Cocinar 
                                hasta que reduzca un poco a fuego bajo.
                            </li>
                            <br>
                            <li>
                                Una vez reduzca incorpora el tomate. Si usas el tomate frito no hace falta añadir 
                                azúcar, si es tomate natural triturado hay que añadir un poco de azúcar para 
                                neutralizar la acidez.
                            </li>
                            <br>
                            <li>
                                Deja que el relleno repose y mientras preparamos la salsa bechamel para el pasticho 
                                o la lasaña.
                            </li>
                            <br>
                            <li>
                                Con un colador tamizamos la harina, de esta forma nos aseguramos quede suave. Para que 
                                la bechamel te salga a la primera hacemos la fórmula de los dos cazos o recipientes 
                                (es muy fácil).
                            </li>
                            <br>
                            <li>
                                Primero diluimos toda la harina en medio vaso de leche esto es 125 ml. El resto de la 
                                leche la añadimos a un cazo (275 ml que nos quedan). Tendremos preparado otro cazo o 
                                recipiente donde añadimos la mantequilla, ambos cazos los ponemos a fuego lento.
                            </li>
                            <br>
                            <li>
                                Cuando la mantequilla se derrita añadimos a ese cazo los 275 ml de leche más el vaso con 
                                la harina diluida en la leche. Remover todo con unas varillas. Añadir un poco de nuez 
                                moscada, pimienta y sal.
                            </li>
                            <br>
                            <li>
                                Cuando la salsa espese y llegue a hervir apagar el fuego.
                            </li>
                            <br>
                            <li>
                                Montar el pasticho de carne es muy fácil, primero una lámina de pasta de lasaña a 
                                continuación añadir relleno de carne y tomate,  otra lámina de lasaña y jamón cocido 
                                y alternar con relleno y jamón cocido. La última capa debe ser una lámina de lasaña  
                                para que aguante bien la bechamel.
                            </li>
                            <br>
                            <li>
                                Nos falta verter la bechamel sobre la lasaña y gratinar en el horno a 180 grados durante 
                                10-15 minutos. Si deseas añadir queso, a mitad de cocción abre el horno y lo añades.
                            </li>
                        </ol>
                        
                    </div>
                    
                    <br><br><br>
                    <br>
            </div> 

            <div class="column4">
                <h2 class="textc2">Otras Recetas que pueden interesarte:</h2>
                <img src="#" alt="#">  
                <br>
                <p>
                    
                </p> 
                <br><br>        
            </div>
        </section>
    </body>
</html>