<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Comida de Ana - Pie de Parchita</title>
        <link rel="stylesheet" type="text/css" href="./mystyle.css">
        <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet"> 
    </head>
    <body>
         <header>
            <img class="logo" src="51d16cad-7260-45b2-b489-95061e259350_200x200.png" alt="Logo">
        </header>

        <div class="barra">
            <nav>
                <ul id="u01">
                    <li><a href="Comida de Ana.html">HOME</a></li>  
                    <li class="dropdown1"><a href="#comidas" class="dropbtn">RECETAS</a>
                        <div class="dropdown1-content">
                            <a href="#">Comidas</a>
                            <a href="#">Postres</a>
                            <a href="#">Bebidas</a>
                            <a href="#">Saludable</a>
                        </div>
                    </li>
                    <li class="dropdown1"><a href="#postres">CURIOSIDADES</a>
                        <div class="dropdown1-content">
                            <a href="#">Mejora tus comidas</a>
                            <a href="#">Postres</a>
                            <a href="#">Trucos </a> 
                            <a href="#">Artículos Interesantes</a> 
                        </div>
                    
                    </li>
                   <li><a href="#favoritos">FAVORITOS</a></li>
                </ul>
                <input type="text" name="search">
            </nav>
        </div>
        <section class="content">
            <div class="column3">
                <h1>Pie de Parchita</h2>
                    <img src="pie-parchita-sin-horno.jpg" alt="Pie de Parchita">  
                    <br><br><br>
                    <div class="ingredientes">
                        <h3>INGREDIENTES:</h3> 
                        <h4>Base de Galletas:</h4>
                        <ul>
                            <li>200 gramos de galletas dulces (tipo María o con miel y bran).</li>
                            <li>113 gramos (1 barra) de mantequilla sin sal.</li>
                            <li>2 cucharadas de azúcar.</li>
                            <li>1/4 cucharadita de sal.</li>
                        </ul>
                        <h4>Relleno:</h4>
                        <ul>
                            <li>3/4 taza (150 gramos) de azúcar.</li>
                            <li>1/4 taza (30 gramos) de maicena.</li>
                            <li>1/4 cucharadita de sal.</li>
                            <li>2/3 tazas (160 ml) de jugo puro de parchita (unas 5 parchitas).</li>
                            <li>Agua para completar 1 1/2 taza de líquido (aproximadamente 200ml).</li>
                            <li>3 yemas de huevo.</li>
                            <li>1 cucharada de mantequilla.</li>
                        </ul>
                        <h4>Merengue:</h4>
                        <ul>
                            <li>1 taza (200 gramos) de azúcar blanca.</li>
                            <li>1/3 taza (80 ml) de agua.</li>
                            <li>1/4 cucharadita de cremor tártaro o vinagre.</li>
                            <li>1/4 cucharadita de sal.</li>
                            <li>2 claras de huevo.</li>
                        </ul>
                    </div>

                    <div class="procedimiento">
                        <h3>PREPARACIÓN:</h3>
                        
                        <ol>
                        <li>
                            Corteza de galletas: Precalentar el horno a 350°F. Trocear las galletas 
                            y colocarlas en un procesador de alimentos o licuadora para triturarlas.
                        </li>
                        <li>
                            En una olla pequeña colocar la mantequilla, azúcar y sal hasta derretir; 
                            agregar a las galletas trituradas, colocar en los moldes y presionarla en 
                            la base y los lados, primero con la mano, y luego con ayuda de alguna taza 
                            para hacer presión en la base y quede uniforme. 
                        </li>
                        <li>
                            Hornear por 15 minutos, dejarla enfriar unos minutos y llevarla al refrigerador.
                        </li>
                        <br>
                        <li>
                            Para el relleno: En una olla combinar el azúcar, la maicena y sal, agregar
                            lentamente el jugo de parchita con el agua y cocinar a fuego medio, batiendo 
                            constantemente con un batidor de varillas.
                        </li>
                        <li>
                            En un tazón colocar las yemas de huevo y agregar una taza de la mezcla 
                            caliente de la parchita para temperarlos, batiendolos a medida que la 
                            agrega para que no se cocinen.
                        </li>
                        <li>
                            Agregar la mezcla de huevos al resto de la preparación y seguir cocinando, 
                            revolviendo constantemente con una espátula de silicona o madera, hasta que 
                            la mezcla espese y comience a burbujear.
                        </li>
                        <br>
                        <li>
                            Retirar del fuego y agregar la mantequilla y revolver bien; cuele la preparación 
                            para descartar cualquier grumo que se haya formado. Pasar la mezcla a un tazón y 
                            colocar un papel film tocando la superficie, para que no se forme una piel; dejar 
                            reposar unos 5 minutos.
                        </li>
                        <li>
                            Agregar el relleno de parchita a la base de galletas y llevar al refrigerador 
                            hasta que esté completamente fría.
                        </li>
                        <li>
                            Para hacer el merengue ver la receta del glaseado esponjoso y decorar las tartas; 
                            si desea, puede dorar la superficie con un soplete de cocina o el broiler del 
                            horno (yo no he hecho este paso). Servir y disfrutar!
                        </li>
                        </ol>
                        <br><br>
                        <h4>NOTAS:</h4>
                        <ul>
                            <li>En total se necesitan 1 1/2 tazas de líquido (360 ml) para el relleno (agua y parchita), 
                                por lo que depende de la cantidad de jugo que saque de las parchitas, se completa el resto 
                                con agua para alcanzar la cantidad total, yo necesité 200 ml de agua.
                            </li>
                            <li>
                                Si quieres dorar el merengue en el horno, debes procurar cubrir toda la superficie de la 
                                tarta hasta los bordes para que no se encoja mientras está en el horno.
                            </li>
                        </ul>
                        
                    </div>
                    
                    <br><br><br>
                    <br>
            </div> 

            <div class="column4">
                <h2 class="textc2">Otras Recetas que pueden interesarte:</h2>
                <div class="sidebar">
                    <a class="elementsidebar" href="Torta de Chocolate.html">
                        <h3>Torta de chocolate</h3>
                        <img src="torta_humeda_de_chocolate_decorada_47884_600.jpg" alt="Torta de Chocolate">
                        <p>
                            Si te gustan los postres con chocolate tienes que probar esta receta. 
                            Te enseñamos a preparar una torta de chocolate húmeda, fácil y esponjosa, 
                            sin duda, ¡una de las más sabrosas que hayas probado!
                        </p>
                    </a>
                </div>   
                <br> 
                <div class="sidebar">
                    <a class="elementsidebar" href="Pie de Limón.html">
                        <h3>Pie de Limón</h3>
                        <img src="RFB-2502-3-piedelimonconlicor.jpg" alt="Pie de Limón">
                        <p>
                            El Pie de limón es una de las recetas mas demandadas en las reuniones. Normalmente, por 
                            comodidad, acostumbramos a encargarlo en la pastelería más cercana, pero ¿Por qué no 
                            preparar tu propio Pie de Limón?
                        </p>
                    </a>
                </div>   
                <br>  
                <div class="sidebar">
                    <h3>Torta Tres Leches</h3>
                    <img src="img_torta_tres_leches_8910_600.jpg" alt="Torta Tres Leches">
                    <p>
                        Es el postre perfecto para poner el broche de oro a una celebración y, 
                        con él, tienes todas las papeletas de triunfar. ¡Te va a encantar!
                    </p>
                </div>  
                <br><br>
                <a class="link1" href="#">Ver más Recetas</a>
            </div>
        </section>
    </body>
</html>