<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Comida de Ana - Pie de Limón</title>
        <link rel="stylesheet" type="text/css" href="./mystyle.css">
        <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet"> 
    </head>
    <body>
         <header>
            <img class="logo" src="51d16cad-7260-45b2-b489-95061e259350_200x200.png" alt="Logo">
        </header>

        <div class="barra">
            <nav>
                <ul id="u01">
                    <li><a href="Comida de Ana.html">HOME</a></li>  
                    <li class="dropdown1"><a href="#comidas" class="dropbtn">RECETAS</a>
                        <div class="dropdown1-content">
                            <a href="#">Comidas</a>
                            <a href="#">Postres</a>
                            <a href="#">Bebidas</a>
                            <a href="#">Saludable</a>
                        </div>
                    </li>
                    <li class="dropdown1"><a href="#postres">CURIOSIDADES</a>
                        <div class="dropdown1-content">
                            <a href="#">Mejora tus comidas</a>
                            <a href="#">Postres</a>
                            <a href="#">Trucos </a> 
                            <a href="#">Artículos Interesantes</a> 
                        </div>
                    
                    </li>
                   <li><a href="#favoritos">FAVORITOS</a></li>
                </ul>
                <input type="text" name="search">
            </nav>
        </div>
        <section class="content">
            <div class="column3">
                <h1>Pie de Limón</h2>
                    <img src="RFB-2502-3-piedelimonconlicor.jpg" alt="Pie de Limón">  
                    <br><br><br>
                    <div class="ingredientes">
                        <h3>INGREDIENTES:</h3> 
                        <h4>Base de Galletas:</h4>
                        <ul>
                            <li>150 gramos de galletas de vainilla.</li>
                            <li>7 cucharadas de mantequilla derretida.</li>
                        </ul>
                        <h4>Relleno:</h4>
                        <ul>
                            <li>4 unidades de yema de huevo.</li>
                            <li>800 mililitros de leche condensada.</li>
                            <li>½ taza de jugo de limón (15 unidades aprox.)</li>
                            <li>1 cucharadita de esencia de vainilla.</li>
                        </ul>
                        <h4>Merengue Suizo:</h4>
                        <ul>
                            <li>180 gramos de clara de huevo.</li>
                            <li>360 gramos de azúcar blanca.</li>
                            <li>1 cucharadita de esencia de vainilla.</li>
                        </ul>
                        <h4>Para decorar (opcional):</h4>
                        <ul>
                            <li>Ralladura de limón</li>
                        </ul>
                    </div>

                    <div class="procedimiento">
                        <h3>PREPARACIÓN:</h3>
                        
                        <ol>
                        <h4>Base de Galletas:</h4>
                            <li class="procedimiento">
                                Licuar las galletas de vainilla hasta pulverizarlas. Luego colocarlas en un bowl, 
                                añadir la mantequilla derretida e integrar con las manos.
                            </li>
                            <li class="procedimiento">
                                Forrar un molde para pie de 25 cm de diámetro con la mezcla de galletas y 
                                llevar a horno precalentado a 180 ºC por 10 minutos.
                            </li>
                        <h4>Relleno:</h4>
                            <li class="procedimiento">
                                Con un batidor de mano, batir ligeramente las yemas hasta homogeneizarlas. 
                                Agregar la leche condensada, el jugo de limón y la vainilla, batiendo ligeramente 
                                luego de cada añadidura.
                            </li>
                            <li class="procedimiento">
                                Colar el relleno dos veces (así se evitará la formación de grumos).
                            </li>
                            <li class="procedimiento">
                                Verter el relleno colado sobre la base de galletas horneada y esparcir la mezcla 
                                en todo el molde con ayuda de una espátula.
                            </li>
                            <li class="procedimiento">
                                Llevar a horno precalentado a 180 ºC de 10 a 15 minutos, hasta que el relleno esté 
                                ligeramente espeso o hasta que al tacto no esté aguado.
                            </li>
                        </ol>
                        
                    </div>
                    
                    <br><br><br>
                    <br>
            </div> 

            <div class="column4">
                <h2 class="textc2">Otras Recetas que pueden interesarte:</h2>
                <div class="sidebar">
                        <a class="elementsidebar" href="Pie de Parchita.html"></a>
                        <h3>Pie de Parchita</h3>
                            <img src="pie-parchita-sin-horno.jpg" alt="Pie de Parchita">
                            <p>
                                Esta receta produce un pie con una base crocantita (que es súper sencilla de hacer), 
                                y un relleno cremoso y deliciosísimo. 
                            </p>
                        </a>
                </div>
                <br>  
                <div class="sidebar">
                    <a class="elementsidebar" href="Torta de Chocolate.html">
                        <h3>Torta de chocolate</h3>
                        <img src="torta_humeda_de_chocolate_decorada_47884_600.jpg" alt="Torta de Chocolate">
                        <p>
                            Si te gustan los postres con chocolate tienes que probar esta receta. 
                            Te enseñamos a preparar una torta de chocolate húmeda, fácil y esponjosa, 
                            sin duda, ¡una de las más sabrosas que hayas probado!
                        </p>
                    </a>
                </div>   
                <br>  
                <div class="sidebar">
                    <h3>Torta Tres Leches</h3>
                    <img src="img_torta_tres_leches_8910_600.jpg" alt="Torta Tres Leches">
                    <p>
                        Es el postre perfecto para poner el broche de oro a una celebración y, 
                        con él, tienes todas las papeletas de triunfar. ¡Te va a encantar!
                    </p>
                </div>  
                <br><br>
                <a class="link1" href="#">Ver más Recetas</a>
            </div>
        </section>
    </body>
</html>