<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Comida de Ana - Torta de Chocolate</title>
        <link rel="stylesheet" type="text/css" href="./mystyle.css">
        <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet"> 
    </head>
    <body>
         <header>
            <img class="logo" src="51d16cad-7260-45b2-b489-95061e259350_200x200.png" alt="Logo">
        </header>

        <div class="barra">
            <nav>
                <ul id="u01">
                    <li><a href="Comida de Ana.html">HOME</a></li>  
                    <li class="dropdown1"><a href="#comidas" class="dropbtn">RECETAS</a>
                        <div class="dropdown1-content">
                            <a href="#">Comidas</a>
                            <a href="#">Postres</a>
                            <a href="#">Bebidas</a>
                            <a href="#">Saludable</a>
                        </div>
                    </li>
                    <li class="dropdown1"><a href="#postres">CURIOSIDADES</a>
                        <div class="dropdown1-content">
                            <a href="#">Mejora tus comidas</a>
                            <a href="#">Postres</a>
                            <a href="#">Trucos </a> 
                            <a href="#">Artículos Interesantes</a> 
                        </div>
                    
                    </li>
                   <li><a href="#favoritos">FAVORITOS</a></li>
                </ul>
                <input type="text" name="search">
            </nav>
        </div>
        <section class="content">
            <div class="column3">
                <h1>Torta de Chocolate</h2>
                    <img src="torta_humeda_de_chocolate_decorada_47884_600.jpg" alt="Torta de Chocolate">  
                    <br><br><br>
                    <div class="ingredientes">
                        <h3>INGREDIENTES:</h3> 
                        <ul>
                            <li>3 tazas de harina (420 gramos)</li>
                            <li>3 tazas de azúcar (600 gramos)</li>
                            <li>2½ cucharaditas de bicarbonato.</li>
                            <li>1 cucharadita de polvos de hornear o levadura tipo Royal.</li>
                            <li>1 pizca de sal.</li>
                            <li>1 pizca de canela en polvo.</li>
                            <li>1½ tazas de cocoa o cacao en polvo.</li>
                            <li>1½ tazas de aceite.</li>
                            <li>2 tazas de leche (480 mililitros)</li>
                            <li>2 cucharaditas de vinagre blanco.</li>
                            <li>2 cucharaditas de esencia de vainilla.</li>
                            <li>4 unidades de huevos</li>
                        </ul>
                    </div>

                    <div class="procedimiento">
                        <h3>PREPARACIÓN:</h3>
                        
                        <ol>
                        <li>
                            Para hacer esta torta húmeda de chocolate decorada, coge un recipiente grande 
                            y tamiza la harina junto con la cocoa, el bicarbonato y el polvo de hornear. 
                            Añade dos tazas de azúcar, la sal y la canela y mezcla bien.
                        </li>
                        <p class="tip">
                            Truco: Para que salga una torta de chocolate húmeda bien esponjosa 
                            es mejor tamizar todos los ingredientes secos.
                        </p>
                        <li>
                            Separa las claras de las yemas de huevo. Introduce a la mezcla anterior 
                            el aceite y la leche y mezcla bien. Luego, para seguir con la preparación 
                            de la torta de chocolate húmeda y esponjosa, añade el vinagre y sigue 
                            batiendo.
                        </li>
                        <br>
                        <li>
                            Agrega ahora las yemas de huevo y la esencia de vainilla y continúa mezclando. 
                            Aparte, bate las claras a punto de nieve con el azúcar restante e incorpóralas a 
                            la mezcla con la ayuda de una espátula, haciendo movimientos envolventes suaves.
                        </li>
                        <p class="tip">
                            Truco: Las claras a punto de nieve aportarán aún más aire a esta torta mojada de 
                            chocolate.
                        </p>
                        <li>Vierte la masa del bizcocho húmedo de chocolate en un molde para horno previamente 
                            enharinado y enmantecado y lo hornea a 180 ºC (con el horno previamente precalentado) 
                            durante 50 minutos.
                            <br>
                            Para comprobar que la torta de chocolate casera está lista, pínchala con un palillo 
                            de madera y si sale limpio es que ya está bien hecha. En caso contrario, te 
                            recomendamos que revises este artículo nuestro para saber por qué te ha quedado 
                            crudo el bizcocho.
                        </li>
                        <br>
                        <li>
                            Retira la torta de chocolate húmeda del horno, déjala enfriar sobre una rejilla a 
                            temperatura ambiente y después la desmoldas. Si quieres, puedes cortar el bizcocho 
                            de chocolate húmedo por la mitad y rellenarlo con frosting de chocolate (o de otro 
                            sabor que quieras). Después cubre la tarta con una ganache casera y ya puedes 
                            disfrutar con toda la familia y amigos de esta torta húmeda de chocolate decorada.
                        </li>
                        <p>
                            Para obtener una torta de chocolate más húmeda y esponjosa aún, mezcla al baño 
                            María una taza de crema de leche con chocolate de cobertura, cocoa y azúcar al 
                            gusto, pincha varias zonas del pastel de chocolate húmedo con ayuda de unas 
                            jeringuillas pasteleras (o similar) y lo cúbrelo también con esta mezcla en 
                            lugar de la ganache. ¡Te va a encantar!
                        </p>
                        </ol>
                        
                    </div>
                    
                    <br><br><br>
                    <br>
            </div> 

            <div class="column4">
                <h2 class="textc2">Otras Recetas que pueden interesarte:</h2>
                <div class="sidebar">
                    <a class="elementsidebar" href="Pie de Parchita.html"></a>
                        <h3>Pie de Parchita</h3>
                        <img src="pie-parchita-sin-horno.jpg" alt="Pie de Parchita">
                        <p>
                            Esta receta produce un pie con una base crocantita (que es súper sencilla de hacer), 
                            y un relleno cremoso y deliciosísimo. 
                        </p>
                    </a>
                </div>
                <br>  
                <div class="sidebar">
                    <a class="elementsidebar" href="Pie de Limón.html">
                        <h3>Pie de Limón</h3>
                        <img src="RFB-2502-3-piedelimonconlicor.jpg" alt="Pie de Limón">
                        <p>
                            El Pie de limón es una de las recetas mas demandadas en las reuniones. Normalmente, por 
                            comodidad, acostumbramos a encargarlo en la pastelería más cercana, pero ¿Por qué no 
                            preparar tu propio Pie de Limón?
                        </p>
                    </a>
                </div>   
                <br>  
                <div class="sidebar">
                    <h3>Torta Tres Leches</h3>
                    <img src="img_torta_tres_leches_8910_600.jpg" alt="Torta Tres Leches">
                    <p>
                        Es el postre perfecto para poner el broche de oro a una celebración y, 
                        con él, tienes todas las papeletas de triunfar. ¡Te va a encantar!
                    </p>
                </div>  
                <br><br>
                <a class="link1" href="#">Ver más Recetas</a>
            </div>
        </section>
    </body>
</html>